
@import url('https://fonts.googleapis.com/css?family=Quicksand|Courgette|Lobster+Two|Abril+Fatface|Lobster|Shrikhand');


/*
Layout
*/



body{
    height:900px;
    font-family: Quicksand;
    font-size: 1.2rem;
    font-weight: 300;
}




#bg_svg{
    position: absolute;
    display: inline;
    width:70%;
    height:900px;
    background-color: #312f53;
    z-index: 1;
}


#bg_panel{
    text-align: center;
    position: absolute;
    margin-left: 70%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color:#443D6C;
    width: 30%;
    height:900px;
    z-index: 2;
    
}



h1,.h1{
    color: white;
    font-family: Quicksand;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
  
}

h2,.h2{
    font-size: 2em;
    font-weight: 300;
}

/*********************
button text
*/
h3,.h3{
    font-family: Quicksand;
    font-size: 1.4em;
    font-weight: 900;
    margin-top: 7px;
    color: white;
}




/*********************
tag text
*/
p{
    color:white; 
    font-size: 1.2em; 
    letter-spacing: 1px;
    font-weight: 300;
    height: 12px;
}

#explanation{
    font-size:1.3em;
}

#canvas{
    z-index: -20;
}


#cocktail{
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 1;
    max-width:15%;
    height:auto;
}


.segmented {
  padding: 3px; 
  margin-bottom: 10px;
}

.segmented input[type=radio] {
   display: none;
}

.segmented label {
  color:white;
  font-family: open sans;
  font-size:12px;
  border-radius: 5px; 
  padding: 4px 16px;
  margin-right: 4px;
  margin-bottom: 10px;
  background: #7c7897;
  
}
.segmented label:hover {
  cursor: pointer;
  
}


.segmented input:checked + label {
  font-size:12px;
  border-radius: 5px;  
  background: #263052;
}

.segmented {
  padding: 0px;   
}

.segmented2 input[type=radio] {
   display: none;
}

.segmented2 label {
  font-size:12px;
  border-radius: 5px; 
  padding: 4px 10px;
  margin-right: 2px;
  margin-bottom: 10px;
  cursor: pointer;
}



label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border-radius: 10px; 
    background-color: #273151;
  
}


#filter_submit{

    border-radius: 5px;
    border:none;
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;

    background-color: #f7394a;
    cursor: pointer;
}

#filter_submit:hover{
    cursor: pointer;
}


figure {
  height: 500px;
  width: 500px;
}

.outline {
  stroke: white;
  stroke-width: 1;
}

.second {
  stroke: white;
  stroke-width: 2;
}

.hour {
  stroke: white;
  stroke-width: 0;
}

.second-hand {
  stroke: white;
  stroke-width: 3;
}

.minute-hand {
  stroke: white;
  stroke-width: 8;
  stroke-linecap: round;
}

.hour-hand {
    
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
}



#linkbtn{
    position: absolute;
    margin-left:60%;
    margin-top: 60%;
    width: 200px;
    height:40px;
    border-color: white;
    background-color: transparent; 
    border-radius: 50px;
    opacity: 0.0; 
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.5s;
  cursor: pointer;

}

#linkbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


#linkbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#linkbtn:hover span {
  padding-right: 30px;
}

#linkbtn:hover span:after {
  opacity: 1;
  right: 0;
}
